div,
iframe {
  width: 65% !important;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
}
iframe {
  height: 600px !important;
}
div {
  border: none;
  margin-bottom: 10px;
}
button,
input,
select {
  margin: 5px;
}